:root {
  --numColumns: 5;
  --cellSideLength: 10px;
  --gridSideLength: 400px;
}

.hide {
  display: none;
}

.grid-outer-container {
  display: flex;
  height: var(--gridSideLength);
  width: var(--gridSideLength);
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: silver;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--numColumns), var(--cellSideLength));
}

.grid-item {
  height: var(--cellSideLength);
  border-style: solid;
}

.open-cell {
  background-color: #ffffff;
}

.closed-cell {
  background-color: #00003f;
}

.cell-path {
  background-color: #ffbf00;
}
