:root {
  --numColumns: 5;
  --cellSideLength: 10px;
  --gridSideLength: 400px;
  --num-maze-columns: 5;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

label {
  text-align: center;
}

.hide {
  display: none;
}

/* Menu & Containers */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.menu-container-outer {
  min-width: 300px;
  border-right: 1px solid black;
}

.menu-container-inner {
  padding: 20px 40px 0px 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select-algorithm {
  padding: 8px 4px;
  background-color: #DCDCDC;
  color: black;
  margin-top: 10px;
  border: 1px black solid;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.maze-container {
  background-color: grey;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maze {
  display: grid;
  grid-template-columns: repeat(var(--num-maze-columns), 1fr);
}

.maze-cell {
  width: 25px;
  height: 25px;
  border: 1px solid #A9A9A9;
}

/* Maze Cells */

.maze-cell-open {
  background-color: #F8F8FF;
}

.maze-cell-closed {
  background-color: #00003F;
}

.maze-cell-start {
  background-color: #00C88C;
}

.maze-cell-finish {
  background-color: #D70040;
}

.maze-cell-path {
  background-color: #FFBF00;
}

/* Titlebar */

.titlebar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00003F;
}

.titlebar-link {
  color: white;
  font-size: 20px;
  margin: 20px 15px 20px 15px;
  text-decoration: none;
}

.titlebar-link-inactive {
  opacity: 0.5;
}

/* Buttons */

.button {
  background-color: #DCDCDC;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px black solid;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.button-clear {
  background-color: #D70040;
}

.button-solve {
  color: white;
  background-color: #4CAF50;
}